DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=R1234567
DB_NAME=papercube_node
PORT=6039
DEFAULT_LOGIN_PASSWORD=admin123
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=ruoyi-oss
MINIO_PUBLIC_URL=http://127.0.0.1:9000/ruoyi-oss
